/* styles.css */

body{
    background-color: rgb(217, 214, 214);
}

.my-name{
    color:black;
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    font-family: monospace;
    padding: 10px;
    margin: 10px;
    justify-content: center;
}

.links{
    display: flex;
    color:black;
    box-sizing: border-box;
    font-family: 'Courier', Courier, monospace;
    font-size: 24px;
    padding: 10px;
    margin: 10px;
    gap: 10px;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    flex-grow: 1;
    flex-wrap: wrap;
}

img{
    padding: 10px;
    border-color: black;
    box-sizing: border-box;
    display: flex;

}

.img_container{
    padding: 10px;
    border-color: black;
    box-sizing:border-box;
    display: flex;
    justify-content: center;
    flex-direction: row;   
}